In [127]:
from bs4 import BeautifulSoup as soup
import pandas as pd
from urllib.request import urlopen as uop
file=

In [56]:
my_url="https://www.flipkart.com/search?q=apple%20iphone&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
uc=uop(my_url)
hpage=uc.read()
uc.close()
page_soup=soup(hpage,"html.parser")

In [141]:
containers=page_soup.findAll("div",{"class":"_3O0U0u"})#It will Find All the Class Having Class mentioned
print(len(containers))
#print(containers)

24

In [142]:
#print(containers[0])

In [143]:
#print(soup.prettify(container[0]))#this Function will convert html into structured manner

In [59]:
container=containers[0]

In [60]:
print(container.div.img["alt"])

Apple iPhone SE (White, 64 GB)

In [72]:
rating=page_soup.findAll("div",{"class":"niH0FQ"})

In [73]:
print(rating[0].text)

4.522,988 Ratings & 2,238 Reviews

In [69]:
Discount_price=page_soup.findAll("div",{"class":"col col-5-12 _2o7WAb"})

In [71]:
print(Discount_price[0].text)

₹35,999₹42,50015% offNo Cost EMIUpto ₹17,500 Off on Exchange

In [177]:

records=[]
for container in containers:
    name=container.div.img["alt"]
   # print(name)
    rating1=container.findAll("div",{"class":"niH0FQ"})
    rate=rating1[0].text.strip()
   # print(rate)
    price1=container.findAll("div",{"class":"col col-5-12 _2o7WAb"})
    #price2=price1[0].text.strip()
   # trim_price=''.join(price2.strip(','))
    #rm_ruppee=trim_price.split("₹")
    rm_ruppee=price1[0].text.split("₹")
    orig_price=rm_ruppee[2].split(" ")
    op=orig_price[0].replace("%","")
       # add_rs_price=rm_ruppee[1]
   # benifit=int(op)-int(add_rs_price)
    #print(add_rs_price)
   # Final_op=name+","+add_rs_price
    #print(Final_op)
   # records.append((name,add_rs_price,op))

In [152]:
print(records)

[('Apple iPhone SE (White, 64 GB)', '35,999', '42,50015'), ('Apple iPhone SE (Black, 64 GB)', '35,999', '42,50015'), ('Apple iPhone XR (White, 64 GB)', '44,999', '52,50014'), ('Apple iPhone XR (Black, 64 GB)', '44,999', '52,50014'), ('Apple iPhone XR (Black, 128 GB)', '49,999', '57,80013'), ('Apple iPhone XR ((PRODUCT)RED, 64 GB)', '44,999', '52,50014'), ('Apple iPhone SE (White, 128 GB)', '41,999', '47,80012'), ('Apple iPhone SE (Red, 128 GB)', '41,999', '47,80012'), ('Apple iPhone XR (Blue, 64 GB)', '44,999', '52,50014'), ('Apple iPhone 7 (Black, 32 GB)', '29,499', '31,5006'), ('Apple iPhone XR ((PRODUCT)RED, 128 GB)', '49,999', '57,80013'), ('Apple iPhone XR (Blue, 128 GB)', '49,999', '57,80013'), ('Apple iPhone XR (Coral, 64 GB)', '44,999', '52,50014'), ('Apple iPhone XR (Coral, 128 GB)', '49,999', '57,80013'), ('Apple iPhone 7 Plus (Black, 32 GB)', '36,999', '37,9002'), ('Apple iPhone 11 (Green, 128 GB)', '72,990', '73,600No'), ('Apple iPhone 7 (Silver, 32 GB)', '29,499', '31,5006'), ('Apple iPhone 11 (White, 64 GB)', '66,990', '68,3001'), ('Apple iPhone 11 (Red, 64 GB)', '66,990', '68,3001'), ('Apple iPhone 6 (Gold, 32 GB)', '29,599', '29,9991'), ('Apple iPhone 11 (Black, 64 GB)', '66,990', '68,3001'), ('Apple iPhone 11 (Purple, 64 GB)', '66,990', '68,3001'), ('Apple iPhone XR (Yellow, 64 GB)', '44,999', '52,50014'), ('Apple iPhone 11 (White, 128 GB)', '72,990', '73,600No')]

In [158]:
df=pd.DataFrame(records,columns=['Name','Discount Price','orignal Price'])

In [159]:
df.head()

                              Name Discount Price orignal Price
0   Apple iPhone SE (White, 64 GB)         35,999      42,50015
1   Apple iPhone SE (Black, 64 GB)         35,999      42,50015
2   Apple iPhone XR (White, 64 GB)         44,999      52,50014
3   Apple iPhone XR (Black, 64 GB)         44,999      52,50014
4  Apple iPhone XR (Black, 128 GB)         49,999      57,80013

In [160]:
df.to_csv("Iphone.csv",index=False)

In [161]:
f=pd.read_csv("Iphone.csv")

In [162]:
print(f)

                                      Name Discount Price orignal Price
0           Apple iPhone SE (White, 64 GB)         35,999      42,50015
1           Apple iPhone SE (Black, 64 GB)         35,999      42,50015
2           Apple iPhone XR (White, 64 GB)         44,999      52,50014
3           Apple iPhone XR (Black, 64 GB)         44,999      52,50014
4          Apple iPhone XR (Black, 128 GB)         49,999      57,80013
5    Apple iPhone XR ((PRODUCT)RED, 64 GB)         44,999      52,50014
6          Apple iPhone SE (White, 128 GB)         41,999      47,80012
7            Apple iPhone SE (Red, 128 GB)         41,999      47,80012
8            Apple iPhone XR (Blue, 64 GB)         44,999      52,50014
9            Apple iPhone 7 (Black, 32 GB)         29,499       31,5006
10  Apple iPhone XR ((PRODUCT)RED, 128 GB)         49,999      57,80013
11          Apple iPhone XR (Blue, 128 GB)         49,999      57,80013
12          Apple iPhone XR (Coral, 64 GB)         44,999      52,50014
13         Apple iPhone XR (Coral, 128 GB)         49,999      57,80013
14      Apple iPhone 7 Plus (Black, 32 GB)         36,999       37,9002
15         Apple iPhone 11 (Green, 128 GB)         72,990      73,600No
16          Apple iPhone 7 (Silver, 32 GB)         29,499       31,5006
17          Apple iPhone 11 (White, 64 GB)         66,990       68,3001
18            Apple iPhone 11 (Red, 64 GB)         66,990       68,3001
19            Apple iPhone 6 (Gold, 32 GB)         29,599       29,9991
20          Apple iPhone 11 (Black, 64 GB)         66,990       68,3001
21         Apple iPhone 11 (Purple, 64 GB)         66,990       68,3001
22         Apple iPhone XR (Yellow, 64 GB)         44,999      52,50014
23         Apple iPhone 11 (White, 128 GB)         72,990      73,600No